---
apiVersion: v1
kind: ConfigMap
metadata:
  name: weblate
  namespace: weblate
  labels:
    app.kubernetes.io/name: weblate
    app.kubernetes.io/instance: weblate
    app.kubernetes.io/version: "5.14.3.0"
data:
  settings-override.py: |-
    ALLOWED_HOSTS = ["weblate.oeol.uchile.cl"]
